* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 500px;
}

.post {
    padding: 15px;
    margin-top: 20px;
    border: solid 2px #00ACC1;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
}
select {
    margin: 15px 0;
}